apiVersion: v1
kind: Service
metadata:
  name: market-data
spec:
  selector:
    app: market-data
  ports:
    - port: 50051
      targetPort: 50051
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: order-service
spec:
  selector:
    app: order-service
  ports:
    - port: 50051
      targetPort: 50051
  type: ClusterIP
