apiVersion: v1
kind: Service
metadata:
  name: api
spec:
  selector:
    app: api
  type: NodePort # Easier for local minikube/kind access
  ports:
    - port: 8000
      targetPort: 8000
      nodePort: 30000 # Fixed port for easier access if allowed, otherwise random
